<div class="col-lg-8">
  <%= form_with(model: list) do |f| %>
    <% if list.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

        <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <h1>List Items</h1>
    <%= f.fields_for :list_items do |li| %>
      <div class="form-group">
        <%= li.label :name %>
        <%= li.text_field :name, class: "form-control" %>
      </div>

    <% end %>

    <div class="actions">
      <%= f.submit class: 'btn btn-success' %>
      <%= link_to 'Back', lists_path, class: 'btn btn-dark' %>
    </div>
  <% end %>
</div>
